* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    color: #fff;
    background-color: transparent;
    
}

#container {
    height: 100vh;
    width: 100%;
    position: relative;
    background-image: url('https://images.wallpapersden.com/image/download/forest-mountains-sunset-cool-weather-minimalism_am5oZWuUmZqaraWkpJRma2VlrW5lZQ.jpg');
    display: flex;
}

#container #location {
    height: 60px;
    width: 100%;
    position: absolute;
    left: 0%;
    top: 11%;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

#container input {
    height: 50px;
    width: 300px;
    margin: 0px 20px;
    padding: 0 20px;
    left: 0%;
    border: none;
    outline: none;
    background: white;
    font-size: 20px;
    color: black;
    border-radius: 25px;
}

#container input::placeholder {
    color: #000000d0;
}

#container input[type="submit"] {
    cursor: pointer;
    width: 150px;
    background: #000000d0;
    color: white;
    font-weight: 700;
    font-size: 22px;
}

#tempIcon {
    height: 200px;
    width: 200px;
    position: absolute;
    top: 35%;
    left: 55%;
    
}

#weatherCountry {
    font-size: 40px;
    position: absolute;
    bottom: 55%;
    margin-left: auto;
    margin-right: 25%;
}

#temperature {
    font-size: 45px;
    position: absolute;
    top: 45%;
    left: 37%;
}

#temperature b {
    color: orange;
}

#weatherDescription {
    font-size: 20px;
    text-transform: capitalize;
    position: absolute;
    bottom: 33%;
    left: 58%;
}

#container ul {
    position: absolute;
    bottom: 17%;
    left: auto;
    right: auto;
    margin-right: 20%;
}

#container ul li {
    font-size: 20px;
    margin: 20px 0;
    list-style-type: none;
    margin-right: 5rem;
}

.features
{
    justify-content: center;
}

.flex
{
  background: #000000d0;
  color: white;
  padding: 2em;
  border-radius: 30px;
  width: 100%;
  max-width: 700px;
  height: 30rem;
  margin: 1em;
  margin-top: 14rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
}

.container0 {
	position: relative;
	width: 100%;
	padding: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
    background-color: #0A131C;
}

.container0 .card {
	position: relative;
	width: 300px;
	height: 420px;
	background: #fff;
	margin: 20px;
	border-radius: 20px;
	overflow: hidden;
	box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
	transition: 0.5s;
}

.container0:hover .card {
	filter: blur(20px);
	transform: scale(0.9);
	opacity: 0.5;
}

.container0 .card:hover {
	filter: blur(0px);
	transform: scale(1.1);
	opacity: 1;
}

.container0 .card .circle {
	position: relative;
	width: 100%;
	height: 100%;
	background: #000;
	clip-path: circle(180px at center 0);
	text-align: center;
}

.container0 .card .circle h2 {
	color: #fff;
	font-size: 4.5em;
	padding: 30px 0;
}

.container0 .card .content {
	position: absolute;
	bottom: 70px;
	padding: 20px;
	text-align: center;
}

.container0 .card .content p {
	color: #666;
}

.container0 .card:nth-child(1) .circle,
.container0 .card:nth-child(1) .content a {
	background: #0092ff;
}

.container0 .card:nth-child(2) .circle,
.container0 .card:nth-child(2) .content a {
	background: #0074cc;
}

.container0 .card:nth-child(3) .circle,
.container0 .card:nth-child(3) .content a {
	background: #00497f;
}

.container0 .card:nth-child(4) .circle,
.container0 .card:nth-child(4) .content a {
	background: #001d33;
}

.h1
{
    margin-left: 28rem;
    margin-top: 25rem;
    font-size: 1.5rem;
    font-family: "myFirstFont"; 
}

@font-face {
    font-family: "myFirstFont"; 
    src: url("fonts/Prompt-Medium.ttf");
    font-weight: bold;
}